body {
  margin: 0;
  font-family: 'Trebuchet MS', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@font-face{

font-family: 'Trebuchet MS';

src: url('../src/fonts/TrebuchetMS.ttf');

font-weight: normal;

font-style: normal;

}
